<div style="height: 80px;
      padding: 40px;
      width: 90%;
      margin-right:auto;
      margin-left:auto;
      border-radius: 7px;
      background-color: #cc1111;
      font-size: 35px;">Privacy Policy</div>


<br />

<section style="width: 90%;
     margin-right:auto;
     margin-left:auto;">
    <p><strong>Last Updated: </strong>March 20, 2014</p>
    <p>Stesha Pty Ltd understands how important your privacy is to you. Rest assured that your privacy and trust are also very important to us.</p>

    <p>
        This privacy policy details the personal information we collect about you, the means through which we collect that information, with whom we share it and how you can change your
        preferences regarding how we collect and use your information when you provide it to us at <a href="http://www.stesha.com.au/" title="">www.stesha.com.au</a>
        BY VISITING STESHA, YOU ARE ACCEPTING THE PRACTICES DESCRIBED IN THIS PRIVACY POLICY.
    </p>

    <h4>What Types of Personal Information Does Stesha Collect?</h4>

    <p>We collect, store, and use information that you provide directly to us and information we acquire in other ways, each as detailed immediately below. &nbsp;</p>

    <p>&nbsp;</p>

    <ul>
        <li>
            Information We Acquire From You Directly. We acquire information from you when you
            <ul>
                <li>
                    provide information via Stesha’s website
                </li>
                <li>
                    interact with any of Stesha’s international checkouts
                </li>
                <li>
                    participate in any Stesha questionnaires, panels or contests
                </li>
                <li>
                    communicate or interact with customer service (via email, mail, courier, fax, and/or phone) and/or
                </li>
                <li>
                    engage in any other electronic or oral conversation with an employee, contractor or agent of Stesha.
                </li>

            </ul>
            Through these channels, you might provide us with information about you, information about the recipient of merchandise you are ordering,
            including, in either case, names, email addresses, postal addresses, phone numbers, birthdays, marketing preferences, personal interests, credit card information,
            and other financial information, including driver’s license numbers, CPF numbers, and passport information.&nbsp;


        <li>
            Information We Acquire in Other Ways.&nbsp; We also acquire other information about you when you interact with Stesha website, checkout, questionnaires, and panels.
            This information may include your estimated city and country location, your IP address, your browser, mobile device or other device, and a unique identifier for your browser
            or device.&nbsp; Another example would include confirmations that we receive when you open an email from us or our partners, if your computer or other device supports that
            function.&nbsp; We may also acquire information about you from our subsidiary companies, business partners, other third parties and publicly available information and
            combine that information (or compare that information) with the information otherwise detailed throughout this privacy policy.&nbsp;
        </li>
    </ul>







    <h4>What Cookies and Other Technologies Does Stesha Use?</h4>

    <p>
        A cookie is a small file downloaded on to a device when a user accesses certain websites. When you interact with Stesha or its partners, cookies and other technologies may
        be used for storing information, and accessing information stored on your devices, such as your computer, mobile device or other device. These cookies and other technologies
        may include first party cookies (i.e., those placed by the website being visited) and third party cookies (i.e., those placed by a website other than the one being visited),
        Local Shared Objects (commonly referred to as “Flash Cookies”) and web beacons or bugs or tracking pixels (including transparent or clear gifs).&nbsp;
    </p>

    <p>
        Cookies can either expire at the end of a session (“Session Cookies”) or be persistent and last through multiple sessions (“Persistent Cookies”). Session Cookies can be helpful
        for remembering items you put in your shopping cart as you browse the site, or for security reasons when you are providing financial information. Persistent Cookies are stored
        on your device in between sessions, which allows for your preferences or actions to be remembered and used on a website (or in some cases across different websites).
        Persistent Cookies may be helpful in remembering your preferences and choices when using a website or to ensure advertising messages are more relevant to you.
    </p>

    <p>
        Cookies are useful because they allow us to recognize your device and provide you with a high level of service and relevant offers. If you do not wish cookies to be used when
        interacting with Stesha or its partners, many web browsers allow you to stop accepting cookies and/or to warn you when a third party is trying to transfer a cookie to you.&nbsp;
        You can take additional steps to disable or delete similar data, such as Flash Cookies, by modifying the “add-on” settings on
        your browser. However, please note that certain cookies are required for you to be able to
        take advantage of some of Stesha's important functions. For example, if you do not allow our cookies, you may not be able to purchase items from one of our checkouts.
    </p>

    <p>
        Our website may include social media features (“Social Media Features”), such as the Facebook “Like” button. These Social Media Features may collect your IP address,
        which page you are visiting on our site, and&nbsp;may set a cookie to enable the feature to function properly. Social Media Features and widgets are either hosted by a third
        party or hosted directly on our Site. Your interactions with these Social Media Features are governed by the privacy policy of the company providing the Social Media Feature.
    </p>




    <h4>How Does Stesha Share Your Information?</h4>

    <p>We are not in the business of selling your information to others and do not share your information with third parties other than as outlined in this privacy policy.&nbsp; However, there are certain situations where we may provide your information to third parties.&nbsp;</p>

    <p>Aggregated Content.&nbsp; We may also share “aggregated/blinded” data with our merchant partners, advertising agencies, and other third parties. By “aggregated/blinded” information we mean, information from multiple users that contains only general items such as zip codes, purchasing amounts, timing of transactions/usage and frequency of usage – with no other private information or identifying information included.</p>

    <h4>How Does Stesha Handle, Store and Secure Your Information?</h4>

    <p>We use a variety of current technologies and processes to protect your data, and to ensure that any and all personal data is transmitted in a safe, encrypted format. All personally identifiable information is transmitted between Stesha and its partners over secure channels. Where data is exchanged in real time, we do so over SSL-encrypted channels. Where data is exchanged in batch, we encrypt the data set prior to transmission, and also send it over SSL-encrypted channels. However, please note that no method of transmission over the Internet, or method of electronic storage, is 100% secure. Therefore, we cannot guarantee its absolute security.</p>

    <h4>How Can You Make Choices About Receiving Marketing, Promotional and Other Information?</h4>

    <p>Stesha may send you marketing, promotional or other information.&nbsp; In certain cases, when interacting with Stesha, you may be provided with a choice to opt-in or opt-out of receiving such information. In other cases, you will not be presented this choice.&nbsp; If you, at any time, choose to opt-out of receiving such information, we will abide by that marketing preference.&nbsp; Moreover, at any time (no matter what you have chosen or informed us of in the past), you may send us an email at <a href="mailto:optout@stesha.com.au" title="">optout@stesha.com.au</a> expressing a marketing preference or updating or requesting the deletion of your personal information—we will abide by that preference and update your personal information accordingly.&nbsp; We will respond to your requests regarding your personal information within 30 days. You may of course also follow the unsubscribe instructions contained in the marketing communications you receive from Stesha.&nbsp;</p>


    <p>If you have previously opted-in to receive such information from us or a specific third party, declining when offered to opt-in at any future time for us or that third party will not be treated as an opt-out for your marketing preference.</p>

    <p>Kindly note that no matter what your marketing preferences are, we may contact you to acknowledge, confirm or fulfil any order that you place, to respond to you or for other legitimate business reasons.&nbsp;</p>

    <p>We will retain and use your information as needed to provide you services, fulfil your order, comply with our legal obligations, resolve disputes, and for other legitimate business reasons.</p>

    <h4>What You Should Understand About Third-Party Advertisers and Links to Other Websites?</h4>

    <p>Our website may include third-party advertising and links to partner websites or other third-party websites. We are not responsible for the content displayed or the practices of any such websites. We recommend that you review the privacy policy and terms and conditions of those websites.</p>

    <h4>Are Children Allowed to Use Stesha?</h4>

    <p>Stesha does not allow anyone under the age of 18 to take part in any of its services. If you are under the age of 18, you must stop using our website and taking part in its services now.&nbsp; To be clear, but not to limit what you are not allowed to do, if you are under 18, you may not make purchases from Stesha and you many not take part in any surveys, panels or the like.</p>

    <h4>Do We Conduct Questionnaires, Panels, Contests, or Sweepstakes?</h4>

    <p>We may provide you the opportunity to participate in questionnaires, panels, contests, or sweepstakes. Participation in these questionnaires, panels, contests, or sweepstakes is completely voluntary and you therefore have a choice whether or not to disclose information. We use this information to notify contest winners, award prizes, monitor website traffic, personalize the website, or for other legitimate business reasons.</p>



    <h4>Is Stesha Both EU &amp; Swiss Safe Harbor Compliant?</h4>

    <p>Stesha complies with the U.S.–E.U. and U.S.–Swiss Safe Harbor Framework as set forth by the U.S. Department of Commerce regarding the collection, use and retention of personal data from European Union member countries and Switzerland.&nbsp;Borderfree has certified that it adheres to the Safe Harbor Privacy Principles of notice, choice, onward transfer, security, data integrity, access, and enforcement. To learn more about the Safe Harbor program please visit <a href="http://www.export.gov/safeharbor" title="">http://www.export.gov/safeharbor</a>.</p>




    <p>If you have questions or concerns regarding this statement, you should first contact Krystsina Kasnikouskaya, General Manager, Stesha at <a href="mailto:kris.kasnikouskaya@stesha.com.au" title=""> kris.kasnikouskaya@stesha.com.au</a> or via postal mail at 2/26 Frances st., Lidcombe, NSW 2141. </p>

    <h4>What Should I Know About Changes to This Privacy Policy?</h4>

    <p>If we decide to change this privacy policy, we will post the updated privacy policy at <a href="http://www.stesha.com.au/Cart/GetPrivacyPolicy" title=""> www.stesha.com.au/ Cart/GetPrivacyPolicy </a>,&nbsp;We reserve the right to modify this privacy policy at any time, so please come to this link to review it frequently. If we make significant material changes to this privacy policy, we will notify you by means of a notice on our website prior to the change becoming effective.&nbsp;</p>

    <h4>What are the Conditions on Use and Dispute Resolution?</h4>

    <p>If you choose to visit Stesha and/or use any of Stesha’s services, your visits and actions, and any disputes over privacy shall be governed exclusively by this privacy policy and the Conditions of Use at www.stesha.com.au/GetTermsAndConditions, including limitations on liability and exclusive application of the laws of Australia and of NSW.</p>

    <p>
        If you have questions or concerns regarding this privacy policy, you should first contact us as provided above. If contacting us does not resolve your complaint, you may raise your complaint



        <ul>

            <li>Service Provider. Stesha may provide your personal information to certain service providers, in connection with the fulfilment of your purchase instructions, including but not limited to delivery agents, email service providers to send you emails on our behalf, customer support providers to process your feedback, customs brokers, international revenue authorities and fraud management parties. Stesha will always attempt to limit the information we provide to be what is reasonably sufficient for those service providers to carry out their responsibilities as they relate to the fulfilment of your purchase instructions, and to subscribe you to any Stesha and/or third party marketing messages you opt-in to receive.&nbsp;</li>

            <li>Opting-In with Third Parties.&nbsp; When you opt-in as described in the Section “How Can You Make Choices About Receiving Marketing, Promotional and Other Information?”, we may supply your personal information to third parties.</li>

            <li>Stesha’s Protection.&nbsp; We will disclose your personally identifiable information as required by law, when we believe that disclosure is necessary to protect our rights and/or comply with a judicial proceeding, court order, or legal process, to enforce or apply our Terms and Conditions and other agreements and to protect the rights of Stesha.</li>

            <li>Business Transition.&nbsp; In the event Stesha goes through a business transition, such as a merger with or acquisition by another company, sale of all or a portion of our assets or brands, your personally identifiable information may be among the assets transferred to the new company.</li>

            <li>You Otherwise Consent.&nbsp;We may of course share your information in other ways that you specifically agree to.</li>
        </ul>
</section>
