<div style="height: 80px;
      padding: 40px;
      border-radius: 7px;
      background-color: #cc1111;
      font-size: 35px;">Consumer Terms and Conditions of Use</div>



<div style="width: 90%;
     margin-right:auto;
     margin-left:auto;">
    <div>
        <section>

            <p>
                <strong>
                    Stesha.com.au is operated by Stesha Pty Ltd ABN 19 731 703 340 and its associated companies. By visiting this checkout and/or placing an order with Stesha, you are agreeing to be bound by the terms &amp; conditions (the “Conditions of Use”)
                    set forth herein. Your access and use of stesha.com.au is subject to these terms.
                    We reserve the right to amend the terms any time. You should periodically read these terms.

                    If you visit or place an order with our company, you accept these conditions.
                </strong>&nbsp;Please read them carefully.
            </p>


            <p>
                <strong>1.&nbsp;Content Disclaimer</strong>
                &nbsp;
                You agree that in relation to the content displayed on this site (Content), Stesha does not, nor does any other party who provides Content to this site,
                make any warranty as to the accuracy, completeness or currency of the Content. As a user of this site, you should make your own enquiries before entering
                into any transaction on the basis of or in reliance upon the Content. To the extent permitted by law, Stesha and its employees, officers, agents and contractors
                exclude all liability for any loss or damage (including without limitation, indirect, special or consequential loss or damage) arising from the use of,
                or reliance upon the Content whether or not this is caused by a negligent act or omission. To the extent that Stesha is prohibited at law from excluding its
                liability, Stesha and each party providing Content limits its liability to the extent permitted by law, to the resupply of the Content. Stesha does not accept
                responsibility for any liability in respect of access to other content through the use of this site.

            </p>




            <p>
                <strong>2.&nbsp;Nature of Transaction.</strong>
                &nbsp;

                Stesha Pty Ltd &nbsp;contracts with consumers, to avail said Stesha’s merchandise to consumers, such as you ("you"), for delivery through the Stesha network, and to provide you with an opportunity to purchase such merchandise at a price and in a currency selected by you, inclusive of international shipping costs, brokerage
                and customs clearance costs, import duty and sales taxes when applicable (unless you chose an option, if available, whereby you would be responsible for payment of import
                duties and/or sales tax), but exclusive of any surcharges which may be imposed by the issuing bank of the credit card you use.

                By placing an order through this checkout you acknowledge that your transaction will be with Stesha and that upon successful verification by Stesha of the authenticity and sufficiency of the payment information you provide, that Stesha will sell to you the said merchandise at a price equal to the amounts presented to and agreed-upon by you.

                Stesha will sell such merchandise to you and bill the payment information you have provided. You acknowledge that Stesha shall be entitled to verify the authenticity and sufficiency of the payment information you provide, and if Stesha is unable to verify the information automatically, Stesha representatives may contact you and/or your tender type issuer to confirm your identity and/or your intent to place the order.

                Stesha has not accepted an order from you, and Stesha makes no commitment of any kind to provide merchandise to you, until Stesha has accepted your order.&nbsp;

                If you are under 18, considered a minor in your local jurisdiction, or the equivalent thereof, you may use this checkout only with involvement of a parent or guardian.

                Stesha reserves the right to refuse service, terminate accounts, remove or edit content, or cancel orders in their sole discretion.
            </p>




            <p>
                <strong>3.&nbsp;&nbsp;Non-Commercial Use Intent and Compliance with Applicable Export, Import and Sanctions Law(s).</strong>&nbsp;

                Merchandise available through purchase from Stesha is intended for non-commercial use, and purchase of any merchandise for resale purposes is prohibited. Further, by agreeing to these terms and conditions, you are certifying that any items purchased from Stesha will not be exported, sold, or transferred in violation of any applicable laws, including the Australian, Export Administration Regulations or applicable Australian sanctions and embargoes administered by the Federal Government.

                It is your responsibility to know the laws in the country into which you are importing. By purchasing such items you are acknowledging that said import does not violate any laws or regulations in the country into which the purchase will be imported.&nbsp;
            </p>

            <p>
                <strong>4.&nbsp;Title to Goods.</strong>
                All items purchased from Stesha are made pursuant to a shipment contract. After Stesha ships the merchandise to you from Stesha’s facility in Australia in
                fulfilment of an order you have placed, title of said merchandise shall transfer from Stesha to you.

            </p>

            <p>
                <strong>5.&nbsp;Billing Timing.</strong>
                If you provide a credit card as your tender type, your credit card will be billed by Stesha, and charges to your account will be accompanied by the descriptor "<strong>Stesha Pty Ltd</strong>", where Stesha is the name of the company whose merchandise you have purchased through Stesha’s website.
                You will only be billed after your merchandise has been received, processed and dispatched for delivery by Stesha Pty Ltd.

                In the event of Stesha’s being able to fulfil only a part of an order, Stesha will process the merchandise available, and will only bill for an amount commensurate with the price of the  merchandise therein, pro-rated amounts for shipping and/or handling, plus any duty, taxes.
            </p>

            <p>
                Under these Conditions of Use, the payment processing services for merchandise purchased through this checkout are provided by Stesha Limited.
            </p>



            <p>
                <strong>6.&nbsp;Brokers.</strong>
                &nbsp;By ordering goods from Borderfree, you hereby authorize a licensed customs broker chosen by Stesha to act as your agent and transact business with foreign revenue authorities to clear your merchandise, account for duties and taxes on your behalf, return your merchandise and if applicable, prepare and submit refund claims on your behalf for any merchandise that you return.

                If you return merchandise originally shipped by Stesha using logistics services provided by DHL Express, you will obtain any refund, as applicable, directly from Stesha.
            </p>



            <p>
                <strong>7.&nbsp;Customs, Duties, Taxes and Collection Fees.</strong>&nbsp;

                When you purchase merchandise from Stesha you may be given an option to prepay or not prepay import taxes and customs duties that may be levied by the destination country, and any disbursement fees, advancement fees or similar fees that may be imposed by the shipper, broker, the customs authority of the destination country or other party (collectively, “Import Fees”)., we will make commercially reasonable efforts to estimate the amount of Import Fees (said estimate, the “Estimate”).

                However, the Estimate may be more or less than the final actual amount of Import Fees due and payable. We have no control over the Import Fees and cannot always predict with 100% accuracy what the final actual amounts may be. For greater certainty, you should contact your local customs office for further information on the import taxes and customs duties that may be applicable to your purchase.
            </p>

            <p>
                <strong>Prepaying Import Fees:</strong>&nbsp;If you choose to prepay the Import Fees, you agree and acknowledge that

                (a) the actual Import Fees may be more or less than the Estimate and
                (b) you will NOT be asked to pay more money OR receive any refund in the case that the actual Import Fees differ than the Estimate.
            </p>

            <p>
                <strong>Deferring Payment of Import Fees:</strong>&nbsp;
                IF YOU CHOOSE TO NOT PREPAY THE IMPORT FEES, YOU AGREE AND ACKNOWLEDGE THAT
                (I)	THE ACTUAL IMPORT FEES MAY BE MORE OR LESS THAN THE ESTIMATE;
                (II)	YOU (AND NOT US, THE BROKER, THE SHIPPER OR ANY OTHER PARTY) MUST BEAR THE RESPONSIBILITY OF PAYING ALL ACTUAL IMPORT FEES;
                (III)	 IN THE CASE THAT ANY ENTITY OTHER THAN YOU MUST PAY SOME OR ALL OF THE ACTUAL IMPORT FEES ON YOUR BEHALF TO EFFECT CUSTOMS CLEARANCE, YOU WILL REIMBURSE (UPON REQUEST) THAT ENTITY IN FULL FOR THE ACTUAL IMPORT FEES PAID ON YOUR BEHALF;
                (IV)	FAILURE BY YOU TO PAY IMPORT TAXES IN A TIMELY MANNER MAY CAUSE DELAYS BEYOND OUR ORIGINAL DELIVERY ESTIMATES.
            </p>


            <p>
                <strong>Failure to Pay Import Fees:</strong>&nbsp;
                MOREOVER, IF YOU CHOOSE TO NOT PREPAY THE IMPORT FEES AND IF YOU (OR THE RECIPIENT) SUBSEQUENTLY REFUSE OR FAIL TO ACCEPT THE DELIVERY OF THE MERCHANDISE, REFUSE OR FAIL TO PAY IMPORT FEES, AND/OR ATTEMPT TO RETURN THE MERCHANDISE TO AVOID PAYING IMPORT FEES:
                (1) THE COSTS YOU PREPAID STESHA FOR SHIPPING AND/OR HANDLING WILL NOT BE REIMBURSED TO YOU;
                (2) YOU WILL BE RESPONSIBLE FOR ALL CHARGES RESULTING FROM SAID REFUSAL OR FAILURE TO PAY IMPORT FEES (SUCH AS COSTS FOR SHIPPING AND HANDLING BACK TO STESHA AND ANY OTHER FEES RESULTING, DIRECTLY OR INDIRECTLY, FROM YOUR FAILURE TO PAY THE IMPORT FEES);
                (3) YOU UNDERSTAND THAT ALL SALES ARE FINAL AND WE ARE NOT REQUIRED TO REFUND YOU THE COST OF THE MERCHANDISE, BUT WE MAY DO SO IN CERTAIN CASES IN OUR SOLE DISCRETION;
                (4) YOU ARE STILL RESPONSIBLE FOR ALL ACTUAL IMPORT FEES;
                (5) YOU WILL NOT REQUEST THAT STESHA OR ANY OTHER ENTITY REIMBURSE YOU FOR ANY IMPORT FEES PAID;
                (6) YOU MAY HAVE THE OPTION (DEPENDING ON LOCAL LAWS AND REGULATIONS) TO BE REIMBURSED BY A GOVERNMENTAL OR OTHER AUTHORITY FOR SOME OF ALL OF THE ACTUAL IMPORT FEES (AND YOU SHOULD CONTACT THE LOCAL CUSTOMS OFFICE FOR MORE INFORMATION ON THIS), BUT YOU (AND NOT STESHA OR ANY OTHER ENTITY) WILL BE RESPONSIBLE FOR TAKING ACTION TO TRY TO BE SO REIMBURSED;
                (7) IF STESHA (OR THE SHIPPER, BROKER OR OTHER ENTITY) IN OUR SOLE DISCRETION DECIDE TO ATTEMPT TO DEAL WITH THE IMPORT FEES DIRECTLY WITH A GOVERNMENTAL OR OTHER AGENCY, WE WILL NO LONGER HOLD YOU RESPONSIBLE FOR THE IMPORT FEES;
                (8) ANY PORTION OWED TO YOU (AFTER ACCOUNTING FOR THE ITEMS DISCUSSED ABOVE) WILL BE REFUNDED TO YOU AND
                (9) ANY PORTION OWED TO US (AFTER ACCOUNTING FOR THE ITEMS DISCUSSED ABOVE),THAT WE HAVE NOT ALREADY COLLECTED FROM YOU, WILL BE BILLED TO YOU THROUGH YOUR INITIAL METHOD OF PAYMENT.
            </p>



            <p>
                <strong>8.&nbsp;Returns.</strong>&nbsp;
                You agree to contact Stesha for any returns authorization. If authorized by Stesha, pursuant to their returns policy, Stesha will provide you with information on credit available to you and instructions on where to ship your return parcel.

                Please note that returns must be sent to the address indicated within the Return Merchandise Authorization email you will receive once you have contacted Stesha and we have authorized your return.

                In this case, Stesha will reimburse you for the original sales prices of the returned merchandise, duty and/or taxes plus or minus any additional credits or debits determined solely by Stesha, and only once we receive your merchandise.
            </p>
            <p>
                All products are shipped F.O.B. (Freight On Board) and become the sole property of the purchaser upon delivery to the specified shipping agent. For shipping damage, customers should file claim to their carrier immediately. Any discrepancy, including wrong items or missing items, should be reported to Stesha within 24 hours.
            </p>



            <p>
                <strong>9.&nbsp;Return Merchandise Authorization Policy.&nbsp;</strong>&nbsp;
                <ul>
                    <li>
                        All order changes or cancellations should be reported prior to shipping and by phone on one of the numbers provided in the "Contact us"" section of this site. Email is not accepted.
                    </li>
                    <li>
                        All returned parts may be subject to quality, operation, and/or performance tests by Stesha testing facility or by a third party authorized by Stesha.
                    </li>
                    <li>
                        Defective return does not include returns for incompatibility.
                    </li>
                    <li>
                        XYZ Pty Ltd reserves the right to replace defective parts or to issue a refund if XYZ Pty Ltd sees more fit.
                    </li>
                    <li>
                        All refunds after one week from the time item is received will be of the original value or the current market price, whichever is less.
                    </li>
                    <li>
                        There will be no refund for shipping under any circumstances.
                    </li>
                    <li>
                        All products, unless otherwise stated, are covered by their respective manufacturer’s warranties. Within thirty (30) days, we will repair or replace,
                        at our sole discretion, any product that is deemed defective. After 30 days, the manufacturer’s warranty process must be followed.
                    </li>
                    <li>
                        All returns require prior authorization and must be returned in the original packing.
                    </li>
                    <li>

                        To request a Return Merchandise Authorization, call us on one of the contact numbers provided,
                        obtain an RMA number, and clearly write the number on both the invoice copy enclosed with the returned merchandise and on the packing from outside.

                        Please keep the RMA number and reference it when calling to check on the status of your return.
                    </li>
                    <li>
                        Incomplete or unauthorized returns will be refused and will be returned to you.
                    </li>
                </ul>
            </p>

            <p>
                <strong>10.&nbsp;Electronic Communications.&nbsp;</strong>&nbsp;
                When you visit this checkout or send e-mails to us, you are communicating with us electronically. You consent to receive communications from us electronically. We will communicate with you by e-mail or by posting notices on this site. You agree that all agreements, notices, disclosures and other communications that we provide to you electronically satisfy any legal requirement that such communications be in writing.
            </p>


            <p>
                <strong>
                    11.&nbsp;DISCLAIMER OF WARRANTIES, LIMITED WARRANTY BY STESHA AND LIMITATION OF LIABILITY.
                </strong>


                SETSHA PROVIDES A LIMITED WARRANTY RELATED EXCLUSIVELY TO ITS STORAGE, HANDLING,AND DELIVERY OF MERCHANDISE AS SET FORTH AND LIMITED BY THIS SECTION.&nbsp;
                YOU ACKNOWLEDGE THAT STESHA SHALL NOT BE RESPONSIBLE FOR ANY LOSS, DAMAGE TO, OR DELAY IN
                DELIVERY OF MERCHANDISE YOU PURCHASE, UNLESS CAUSED BY STESHA DURING THE STORAGE, HANDLING, OR DELIVERY OF THE MERCHANDISE FOLLOWING THE RECEIPT OF YOUR
                ORDER BY STESHA.&nbsp;

                STESHA SHALL HAVE NO LIABILITY FOR ANY DELAYS OR FAILURE TO SHIP IN THE EVENT THAT ANY MERCHANDISE YOU PURCHASE FROM STESHA IS CONTROLLED UNDER AUSTRALIAN
                EXPORT CONTROLS AND/OR SANCTIONS LAWS SUCH THAT THE MERCHANDISE CANNOT BE SHIPPED TO YOU.

                IN ADDITION, STESHA SHALL HAVE NO LIABILITY FOR DAMAGE OR DELAY UNLESS CAUSED BY ITS GROSS NEGLIGENCE OR INTENTIONAL MISCONDUCT.&nbsp; SUBJECT TO THE FOREGOING, STESHA'S LIABILITY SHALL NOT UNDER ANY CIRCUMSTANCES EXCEED THE ACTUAL PRICE PAID BY YOU FOR THE PRODUCT OR AUD $2,500.00, WHICHEVER IS LESS.

                STESHA SHALL HAVE NO LIABILITY WHATSOEVER TO YOU IN THE EVENT THAT:
                IN THE CASE OF A RETURN FROM YOU THE MERCHANDISE WAS NOT RECEIVED BY STESHA, AT STESHA’S APPLICABLE FACILITY IN AUSTRALIA,
            </p>

            <p>
                THE CUMULATIVE LIMITATION OF LIABILITY IN THIS SECTION IS SUPPLEMENTAL, AND THEREFORE APPLIES IN ADDITION TO, ANY OTHER LIMITATIONS OF LIABILITY IN THESE
                CONDITIONS OF USE.&nbsp; YOU AGREE THAT FOR ANY LIABILITY RELATED TO THE MERCHANDISE, STESHA SHALL NOT BE LIABLE OR RESPONSIBLE FOR ANY AMOUNT OF DAMAGES
                ABOVE THE AGGREGATE DOLLAR AMOUNT PAID BY YOU FOR THE PURCHASE OF SAID MERCHANDISE.
            </p>



            <p>
                <strong>12.&nbsp;Analytics.</strong>

                By placing an order with Stesha, you acknowledge that Stesha reserves the right to analyse transactional data, anonymously and in aggregate, for the purpose
                of identifying trends, statistics and measurements that could contribute to the enhancement of Stesha services.&nbsp;

                By way of example and not limitation, such aggregate use could include identifying market sensitivities, and relative market interest in specific product categories.
                For greater clarity, any transactional data analysed will expressly exclude any personally identifiable information and will be aggregated.
            </p>




            <p>
                <strong>13.&nbsp;Copyright.</strong>&nbsp;

                All content included on this checkout, such as text, graphics, logos, button icons, images, audio clips, digital downloads, data compilations, and software,
                is the property of Stesha, the Supplier or its licensors and protected by Australian and international copyright laws. The software and compilation of all
                content on this site is the exclusive property of Stesha.
            </p>


            <p>
                <strong>14.&nbsp;Trademarks.</strong>

                Stesha, stesha.com.au, and other stesha.com.au graphics, logos, page headers,                button icons, scripts, and service names are trademarks, registered trademarks or trade dress of Stesha in Australia and/or other countries. Stesha's trademarks                and trade dress may not be used in connection with any product or service that is not Stesha's, in any manner that is likely to cause confusion among customers, or             in any manner that disparages or discredits Stesha.


                All other trademarks not owned by Stesha that appear in this checkout are the property of their respective owners, who may or may not be affiliated with, connected to, or sponsored by Stesha.
            </p>



            <p>
                <strong>15.&nbsp;Patents.</strong>&nbsp;&nbsp;

                One or more patents owned or licensed by Stesha may apply to this checkout and to the features and services accessible via this checkout.
            </p>




            <p>
                <strong>16.&nbsp;Severability.</strong>
                These Conditions of Use state the entire agreement between you and Stesha.&nbsp; If any term or condition herein shall be held to be invalid, illegal, unenforceable or in conflict with the law of any jurisdiction, the validity, legality and enforceability of the remaining terms shall not in any way be affected or impaired thereby.&nbsp; You and Stesha agree that it is our mutual intent that these Conditions of Use, including without limitation any limitation of liability herein, be enforced as written, but otherwise to the maximum extent allowable by law.&nbsp;
            </p>



            <p>
                <strong>17.&nbsp;Jurisdiction and Applicable Law.</strong>

                The laws of the State of NSW in Australia, excluding its conflicts-of-law rules, shall govern this Agreement. You understand and agree that you are waiving any legal protections otherwise provided by laws applicable to consumers in your country or                 your State, and you acknowledge that Stesha would not facilitate your purchase of merchandise from Stesha if that were not the case.

                These Conditions of Use and the transactions contemplated herein are not and never will be subject to the United Nations Convention on the Uniform Sale of goods or the Uniform Computer Information Transactions Act (prepared by the National Conference of Commissioner on Uniform State Laws) as currently enacted by any jurisdiction or as may be codified or amended from time to time by any jurisdiction.&nbsp;

                THESE TERMS AND CONDITIONS ARE GOVERNED BY AND CONSTRUED IN ACCORDANCE WITH THE STATE OF NSW, AUSTRALIA. IN THE EVENT THAT A DISPUTE ARISES FROM THESE WEBSITE TERMS AND CONDITIONS, YOU AGREE TO SUBMIT TO THE NON-EXCLUSIVE JURISDICTION OF THE COURTS OF NSW, AUSTRALIA.

            </p>


            <p>
                <strong>18.&nbsp;Security.&nbsp;</strong>
                &nbsp;
                You may have an account and password. You are responsible for maintaining the confidentiality of your password and account information and are fully responsible for all conduct carried out under this password and account. Vodafone is not liable for any loss of confidentiality or for any damages arising from your failure to comply with these security measures. Vodafone requests that you promptly report to it any unauthorised use of your password.

            </p>

            <p>
                <strong>19.&nbsp;Modifications.&nbsp;</strong>

                &nbsp;We reserve the right to make changes to our checkout, policies, and these Conditions of Use at any time. If any of these conditions shall be deemed invalid, void, or for any reason unenforceable, that condition shall be deemed severable and shall not affect the validity and enforceability of any remaining condition.
            </p>

            <p><strong>Last updated @System.DateTime.Today.ToShortDateString()</strong></p>

            <p><strong>&nbsp;</strong></p>


        </section>

    </div>
</div>
