@model IEnumerable<string>


@{
    Layout = "~/Views/Shared/_StoreFrontLayout.cshtml";
}



<div class="theme-default">

    @*<div id="slider" class="nivoSlider">

        @{
            foreach (var p in Model)
            {
                <img src="~/Content/MyImages/Slides/@p" />
            }
        }

    </div>*@


</div>
